<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
    <link rel="stylesheet" href="./style.css">
    <title>Plandars</title>

    <!-- vue -->
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8.1/dist/polyfill.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>

<body>

    <div id="app">

        <div class="wrapper" style='flex-direction: row;'>
            <div class="left_wrap">
                <!-- 헤더 -->
                <div class="calendar_header">
                    <span>{{ this.selectedYear }}.{{ this.selectedMonth }}</span>
                    <i style="float: right; cursor: pointer; margin-top: 0.25em" class="fas fa-ellipsis-h"></i>
                    
                </div>

                <table calss="calendar_wrapper">
                    <!-- 요일 -->
                    <tr>
                        <td v-for="rows in weekList" class="calendar_cell">{{ rows }}</td>
                    </tr>

                    <!-- 일자 -->
                    <tr v-for="rows in calendarGrid"
                        :class="{ calendar_week6: weekCount6, calendar_week5: !weekCount6 }">
                        <td v-for="(item, index) in rows" class="calendar_cell" v-if="item != null"
                            @click="selectDay(item.year, item.month, item.day)" style="cursor: pointer; height: 100%;">
                            <div :class="{ calendar_opaque: item.type!='now'}">
                                <p :class="{ calendar_holiday: index==0 || item.isHoliday }">{{ item.day }}</p>
                                <span v-for="(s, index) in item.schedule"
                                    :class="{ schedule_label_full: s.labelType=='full' }"
                                    v-bind:style="{ backgroundColor: s.labelColor }" v-if="index < 3">
                                    {{ s.labelText }}
                                </span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

            <!-- PC 우측 상세내용 -->
            <div class="right_bar">
                <div class="calendar_header">
                    <span>Day {{ this.selectedDay }}</span>
                </div>
                <div>
                    <p style="font-size: 1.1em; font-weight: bold; margin-bottom: 10px;"># 월간일정</p>
                    <br><br><br>

                    <p style="font-size: 1.1em; font-weight: bold; margin-bottom: 10px;"># 오늘일정</p>
                    <span v-for="(s, index) in selectedItem.schedule"
                        :class="{ schedule_label_full: s.labelType=='full' }" v-bind:style="{ color: s.labelColor }">
                        {{ s.labelText }}
                    </span><br>
                    <br><br><br>

                    <p style="font-size: 1.1em; font-weight: bold; margin-bottom: 10px;"># 체크리스트</p>

                </div>
            </div>
        </div>
    </div>
</body>


<script>
    new Vue({
        el: '#app',
        data: {
            gridMaxCount: 7,
            weekCount6: false, // 달력에 몇주차까지 표기할건지 저장하는 변수
            dateList: [], // 이번달에 그릴 날짜 리스트
            calendarGrid: [], // dateList를 그리드 형식으로 그리기 위해 사용되는 리스트
            weekList: ["SUN", "MON", "TUE", "WED", "THU", "FRI", "SAT"],
            selectedYear: 2020,
            selectedMonth: "09",
            selectedDay: 30,
            selectedItem: {},
            allScheduleList: [], // 전체 일정 목록
        },
        methods: {
            getCalendar: function (yyyy, m) {
                this.dateList = [];
                this.calendarGrid = [];
                this.allScheduleList = [];

                var firstDate = new Date(yyyy, m - 1, 1);
                let lastDate = new Date(yyyy, m, 0);

                // 당월 첫날의 요일 구하기 (일요일부터 시작)
                let firstDayOfWeek = firstDate.getDay();
                let prevDate = new Date(new Date(yyyy, m - 1, 1).setDate(new Date(yyyy, m - 1, 1).getDate() - 1));
                let prevYear = new Date(new Date(yyyy, m - 1, 1).setDate(new Date(yyyy, m - 1, 1).getDate() - 1)).getFullYear();
                let prevMonth = new Date(new Date(yyyy, m - 1, 1).setDate(new Date(yyyy, m - 1, 1).getDate() - 1)).getMonth() + 1;


                // 전월 데이터 채우기
                if (firstDayOfWeek != 0) { // 당월 1일이 일요일이 아니면 앞에 전월 데이터를 추가해야하기 때문
                    for (var i = 0; i < firstDayOfWeek; i++) {
                        this.dateList.unshift({
                            year: prevYear,
                            month: this.makeTwoString(prevMonth),
                            day: prevDate.getDate() - i,
                            type: "prev",
                            schedule: [],
                            isHoliday: false
                        });
                    }
                }

                // 당월 데이터 채우기
                for (var i = 1; i <= lastDate.getDate(); i++) {
                    this.dateList.push({
                        year: yyyy,
                        month: this.makeTwoString(m),
                        day: this.makeTwoString(i),
                        type: "now",
                        schedule: [],
                        isHoliday: false
                    });
                }

                // 당월 마지막날의 요일 구하기 (일요일부터 시작)
                let lastDayOfWeek = lastDate.getDay();
                let nextDate = new Date(new Date(yyyy, m, 0).setDate(new Date(yyyy, m, 0).getDate() + 1)).getDate();
                let nextYear = new Date(new Date(yyyy, m, 0).setDate(new Date(yyyy, m, 0).getDate() + 1)).getFullYear();
                let nextMonth = new Date(new Date(yyyy, m, 0).setDate(new Date(yyyy, m, 0).getDate() + 1)).getMonth() + 1;

                // 다음월 데이터 채우기
                if (lastDayOfWeek != 6) { // 당월 마지막날짜가 토요일이 아니면 나머지 공간을 채워줘야하기 때문
                    for (var i = 0; i < 6 - lastDayOfWeek; i++) {
                        this.dateList.push({
                            year: nextYear,
                            month: this.makeTwoString(nextMonth),
                            day: "0" + (i + 1),
                            type: "next",
                            schedule: [],
                            isHoliday: false
                        });
                    }
                }

                // 달력에 몇주까지 표기할건지 계산
                if (this.dateList.length > 35) {
                    this.weekCount6 = true;
                } else {
                    this.weekCount6 = false;
                }

                this.getAllSchedules();
            },
            getAllSchedules: function () {

                // 휴일 리스트 조회 후 스케쥴에 저장
                var self = this;
                axios.get('./holiday.csv')
                    .then(function (result) {
                        var list = result.data.split(/\r?\n|\r/);
                        for (var i = 1; i < list.length; i++) {
                            var listData = list[i].split(',');
                            self.allScheduleList.push({
                                startDate: "0000-" + listData[1],
                                endDate: "0000-" + listData[2],
                                isHoliday: true,
                                labelText: listData[4],
                                labelColor: "red",
                                labelType: "full",
                                labelCategory: listData[0]
                            });
                        }


                        //# 음력/양력 처리할것
                        for (var i = 0; i < self.allScheduleList.length; i++) {
                            for (var j = 0; j < self.dateList.length; j++) {
                                var schedule = self.allScheduleList[i];
                                let date = String(self.dateList[j].month) + String(self.dateList[j].day);
                                if (schedule.startDate.indexOf('0000') >= 0) {
                                    console.log((String(schedule.startDate.split("-")[1]) + String(schedule.startDate.split("-")[2])));
                                    if (date >= (String(schedule.startDate.split("-")[1]) + String(schedule.startDate.split("-")[2]))
                                        && date <= (String(schedule.endDate.split("-")[1]) + String(schedule.endDate.split("-")[2]))) {
                                        self.dateList[j].isHoliday = schedule.isHoliday;
                                        self.dateList[j].schedule.push({
                                            labelText: schedule.labelText,
                                            labelColor: schedule.labelColor,
                                            labelType: schedule.labelType,
                                            labelCategory: schedule.labelCategory
                                        })
                                    }
                                }
                            }
                        }

                    }).catch(function (e) {
                        console.error(e);
                        console.log("휴일 정보 조회 오류");
                    })

                this.drawCalendar();
            },
            drawCalendar: function () {
                var remain = this.dateList.length % this.gridMaxCount;
                var lines = this.dateList.length / this.gridMaxCount;
                if (remain != 0) {
                    lines = lines + 1;
                }
                lines = Math.floor(lines);

                for (var i = 0; i < lines; i++) {
                    var subList = this.dateList.slice((i * this.gridMaxCount), (i * this.gridMaxCount) + this.gridMaxCount);
                    if (subList.length < this.gridMaxCount) {
                        var loopCount = this.gridMaxCount - subList.length;
                        for (var j = 0; j < loopCount; j++) {
                            subList.push(null);
                        }
                    }
                    this.calendarGrid.push(subList);
                }
            },
            makeTwoString: function (num) { // 한자리수 숫자 1을 두자리수 문자열 "01"로 변환
                var temp = num;
                if (temp < 10) {
                    temp = "0" + num;
                }
                return temp;
            },
            selectDay: function (year, month, day) {
                this.selectedYear = year;
                this.selectedMonth = month;
                this.selectedDay = day;

                for (var i = 0; i < this.dateList.length; i++) {
                    if (this.dateList[i].year == year && this.dateList[i].month == month && this.dateList[i].day == day) {
                        this.selectedItem = this.dateList[i];
                    }
                }
                if (this.selectedItem.type != "now") {
                    this.getCalendar(this.selectedYear, parseInt(this.selectedMonth));
                }
            }
        },
        created: function () {
            this.getCalendar(this.selectedYear, parseInt(this.selectedMonth));
            var self = this;

            setTimeout(function () {
                self.selectDay(self.selectedYear, self.selectedMonth, self.selectedDay);
            }, 500);
        }
    });


</script>

</html>
