@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);


html {
    height: 100%;
    font-family: 'Nanum Gothic';
    font-size: 1em;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: none;
}

#app {
    height: 100%;
    position: relative;
    
}

.wrapper {
    display: flex;
    height: 100%;
    position: relative;
    
}

.left_wrap {
    width: 100%;
    display: flex;
    padding: 1%;
    flex-direction: column;
    height: 100%;
}

.calendar_cell {
    display: inline-block;
    width: calc(100% /7);
    height: 100%;
}

.calendar_cell div {
    width: 100%;
    height: 100%;
}

.calendar_header {
    width: 100%;
    font-size: 1.5em;
    font-weight: bold;
    vertical-align: middle;
    margin-bottom: 10px;
}

.calendar_week5 {
    height: calc((100% - 3.5%) / 5);
}

.calendar_week6 {
    height: calc((100% - 3.5%) / 6);
}

.calendar_opaque {
    background-color: white;
    opacity: 0.3;
}

.calendar_holiday {
    color: red;
}

.right_bar {
    border-left: 1px solid #cccccc;
    padding: 1%;
    width: 400px;
}

.schedule_label_full {
    display: inline-block;
    width: 100%;
    color: white;
    border-radius: 3px;
    font-size: 0.8em;
    padding: 3px;
}

table {
    width: 100%;
    height: 95%;
    position: relative;
    border: none;
    font-size: 0.8em;
}

th, td {
    display: inline-block;
    padding: 0.1em;
    margin: 0px;
}

tr {
    border-bottom: 1px solid #ccc;
}

tr:nth-last-child(1) {
    border-bottom: none !important;
}

i {
    cursor: pointer;
}


/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    .right_bar {
        display: inline-block;
    }

  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    .right_bar {
        display: inline-block;
    }
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  @media (min-width: 768px) and (max-width: 1024px) {
    
    .right_bar {
        display: none;
    }
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    .right_bar {
        display: none;
    }
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  @media (min-width: 481px) and (max-width: 767px) {
    
    .right_bar {
        display: none;
    }
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  @media (min-width: 320px) and (max-width: 480px) {
    
    .right_bar {
        display: none;
    }

    table {
        height: 90%;
    }
    
  }
