/* PC */
@media screen and (min-width: 1024px) {
    body {
        font-size: 16px;
    }
    
    .view_pc {
        display: block;
    }

    .view_pc_tab {
        display: block;
    }

    .view_m {
        display: none;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    body {
        font-size: 16px;
    }

    .view_pc {
        display: none;
    }

    .view_pc_tab {
        display: block;
    }

    .view_m {
        display: none;
    }
}

/* Mobile */
@media screen and (max-width: 767px) {
    body {
        font-size: 13px;
    }

    .view_pc {
        display: none;
    }

    .view_pc_tab {
        display: none;
    }

    .view_m {
        display: block;
    }
}